argparse-prompt==0.0.5
attrs==25.3.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
google-auth==2.39.0
google-auth-oauthlib==1.2.1
googleads==45.0.0
idna==3.10
isodate==0.7.2
lxml==5.3.2
oauthlib==3.2.2
platformdirs==4.3.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rsa==4.9.1
urllib3==2.4.0
xmltodict==0.14.2
zeep==4.3.1
